NET "mclk" LOC = "P83";
#NET "PROG_B" LOC = "P1";
#NET "J5_36" LOC = "P2";
#NET "J5_38" LOC = "P3";
#NET "J5_40" LOC = "P4";
#NET "J5_1" LOC = "P5";
#NET "J5_3" LOC = "P7";
#NET "J5_5" LOC = "10";
#NET "J5_7" LOC = "P11";
#NET "J5_9" LOC = "P12";
#NET "J5_11" LOC = "P13";
#NET "J5_13" LOC = "P15";
#NET "J5_15" LOC = "P16";
#NET "J5_17" LOC = "P17";
#NET "J5_19" LOC = "P18";
#NET "CSO_B" LOC = "P24";
#NET "INIT_B" LOC = "P25";
#NET "BUSY" LOC = "P26";
#NET "MOSI" LOC = "P27";
NET "D<7>" LOC = "P32";
NET "D<6>" LOC = "P33";
NET "D<5>" LOC = "P34";
NET "D<4>" LOC = "P35";
NET "D<3>" LOC = "P36";
#NET "M<2>" LOC = "P39";
NET "D<2>" LOC = "P40";
NET "D<1>" LOC = "P41";
#NET "M<1>" LOC = "P42";
#NET "M<0>" LOC = "P43";
NET "D<0>" LOC = "P44";
#NET "VS2" LOC = "P47";
#NET "VS1" LOC = "P48";
#NET "VS0" LOC = "P49";
#NET "cclk" LOC = "P50";
#NET "J5_22" LOC = "P70";
#NET "J5_24" LOC = "P71";
#NET "J5_26" LOC = "P78";
#NET "J5_28" LOC = "P79";
#NET "J3_26" LOC = "P84";
#NET "J3_28" LOC = "P85";
#NET "J3_30" LOC = "P86";
#NET "J3_32" LOC = "P88";
#NET "J3_34" LOC = "P89";
#NET "J3_36" LOC = "P90";
#NET "J3_38" LOC = "P91";
#NET "J3_40" LOC = "P92";
#NET "J5_34" LOC = "P94";
#NET "J5_32" LOC = "P95";
#NET "J5_30" LOC = "P98";
#NET "HSWAP" LOC = "P99";


